
.nav-menu{
    display: flex;
   text-align: center;
   justify-content: center;
   padding: 32px 0;
}

.list-menu{
    margin: 0;
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 72px;
}

.text-menu{
    display: inline;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;    
    line-height: 135%;
}

.link-menu{
    color: #000;
    text-decoration: none;
}

.image-background{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00BDC9;
    padding: 92px 400px 92px 401px;
  }

.content-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-div{
    display: flex;
    padding: 88px 0;
    flex-direction: column;
    text-align: center;
    width: 856px;
}

.css-title{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    line-height: 135%;
}

.text-div{
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}


.context-text{
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%; 
}


.this-is{
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 150%;
}


.marked-list{
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}

.list-text{
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; 
}

.button-div{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-learn{
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    background: #04959E;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%; 
}


.footer-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}


.hr-class{
    margin: 0;
    align-self: stretch;
    background: #161616;
}

.footer-text{
    display: flex;
    width: 856px;
    padding: 16px 0px;
    justify-content: center;
    align-items: flex-start;
}

.rights-text{
    color: #161616;
    text-align: right;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}